html, body, #app {
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
}

#header {
    text-align: center;
    padding: 10px;
    background-color: #333;
}

#panoramas {
    text-align: center;
    padding: 10px;
    overflow-y: scroll;
}

#panoramas .item {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    margin: 10px;
    padding: 10px;
    display: inline-block;
    border: 1px solid #fff;
    transition: background-color 0.3s, border-radius 0.3s;
    width: 200px;
    cursor: pointer;
}

#panoramas .item:hover {
    background-color: #333;
    border-radius: 20px;
}

.item-date  {
    font-size: 14px;
    margin-bottom: 8px;
}

.item-name {
    font-size: 16px;
    color: #0aa9c3;
}

.item-size {
    font-size: 12px;
    margin-top: 20px;
}

.item-pc-only {
    color: coral;
    font-size: 14px;
    margin: 4px;
}
